.App {
  font-family: sans-serif;
  text-align: center;
}
body {
  background: black;
  color: gold;
}
button {
  background: black;
  color: gold;
  font-weight: bolder;
  border: 2px solid white;
  padding: 4px 9px;
  border-radius: 20px;
}
input {
  border: 2px solid gold;
  background: black;
  color: white;
  padding: 4px 9px;
  font-size: 18px;
}
.align1 {
  display: flex;
  align-content: center;
  justify-content: center;
  font-size: 18px;
  margin-top: 12px;
}
.one1 {
  color: white;
}
.one2 {
  margin-left: 23px;
}
.delete {
  margin-left: 23px;
}
